@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

body, html {
    height: 100%;
    margin: 0;
}
.navbar {
	margin-bottom: 0;
}
.bg {
    /* The image used */
    background-image: url("../img/welcome-bg.png");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#welcome .title {
	padding-top: 5%;
    color: white;
}
#welcome .container .title h1 {
    font-size: 42px;
    font-weight: 400;
}
#welcome .container .title p {
    font-size: 29px;
    font-weight: 300;
}
#welcome .anonym-form {
    padding-top: 30px;
    padding-bottom: 30px;
}