	<ul>
		<li>
			<form>
<h4><span>This</span><span data-word="become" data-level="A" data-pos="V">became</span><span>politically</span><span data-word="relevant" data-level="B" data-pos="ADJ">relevant</span><span>as</span><span data-word="individual" data-level="B" data-pos="ADJ">individual</span><span data-word="member" data-level="A" data-pos="N">members</span><span>of</span><span data-word="clan" data-level="C" data-pos="N">clans</span><span data-word="try" data-level="A" data-pos="V">tried</span><span>to</span><span>si_____n</span><span data-word="petition" data-level="C" data-pos="N">petitions</span><span>as</span><span>clan</span><span data-word="leader" data-level="B" data-pos="N">leaders</span><span>.</span></h4>

			<br><textarea  rows = "1" cols = "20" align = "left" name = cloze0 id = clozeA0></textarea>
<span><div data-word="sign" data-level="A" data-pos="N" id = clozeAns0 class = clozeAns0 name = clozeAns0 style = "display:none;">sign</div></span><br>
<h4><span>I</span><span data-word="be" data-level="A" data-pos="V">am</span><span>in</span><span data-word="need" data-level="A" data-pos="N">need</span><span>very</span><span>much</span><span>for</span><span>a</span><span data-word="little" data-level="A" data-pos="ADJ">little</span><span>mo_____y</span><span>and</span><span>I</span><span>can</span><span>not</span><span data-word="do" data-level="A" data-pos="V">do</span><span>a</span><span data-word="day" data-level="A" data-pos="N">days</span><span data-word="work" data-level="A" data-pos="V">work</span><span>now</span><span>for</span><span>I</span><span data-word="be" data-level="A" data-pos="V">am</span><span data-word="break" data-level="A" data-pos="V">broke</span><span>down</span><span>.</span></h4>

			<br><textarea  rows = "1" cols = "20" align = "left" name = cloze1 id = clozeA1></textarea>
<span><div data-word="money" data-level="A" data-pos="N" id = clozeAns1 class = clozeAns1 name = clozeAns1 style = "display:none;">money</div></span><br>
			</form>
		</li>
		<li>
			<h4><span>I</span><span data-word="do" data-level="A" data-pos="V">do</span><span data-word="suspect" data-level="B" data-pos="V">suspect</span><span>that</span><span>there</span><span>may</span><span data-word="be" data-level="A" data-pos="V">be</span><span data-word="more" data-level="A" data-pos="ADJ">more</span><span>to</span><span>the</span><span>_____</span><span>than</span><span>what</span><span>they</span><span>'re</span><span data-word="say" data-level="A" data-pos="V">saying</span><span>.</span></h4>
			<input type ="radio" name ="question0" id = pickup-1 value="1">
			<label for=pickup-1 class = ans0 data-word="month" data-level="A" data-pos="N" >month</label><br>
			<input type ="radio" name ="question0" id = pickup-2 value="2">
			<label for=pickup-2 class = ans0 data-word="money" data-level="A" data-pos="N" >money</label><br>
			<input type ="radio" name ="question0" id = pickup-3 value="3">
			<label for=pickup-3 class = ans0 data-word="story" data-level="A" data-pos="N" >story</label><br>
			<input type ="radio" name ="question0" id = pickup-4 value="4">
			<label for=pickup-4 class = ans0>write</label><br>
		</li>
		<li>
			<h4><span>I</span><span data-word="be" data-level="A" data-pos="V">was</span><span>not</span><span data-word="sure" data-level="A" data-pos="ADJ">sure</span><span>what</span><span>he</span><span data-word="mean" data-level="A" data-pos="V">meant</span><span>and</span><span data-word="think" data-level="A" data-pos="V">thought</span><span>it</span><span data-word="be" data-level="A" data-pos="V">was</span><span>probably</span><span>a</span><span data-word="reflection" data-level="B" data-pos="N">reflection</span><span>of</span><span>the</span><span>_____</span><span>.</span></h4>
			<input type ="radio" name ="question1" id = pickup-5 value="1">
			<label for=pickup-5 class = ans1 data-word="moment" data-level="A" data-pos="N" >moment</label><br>
			<input type ="radio" name ="question1" id = pickup-6 value="2">
			<label for=pickup-6 class = ans1 data-word="movement" data-level="B" data-pos="N" >movement</label><br>
			<input type ="radio" name ="question1" id = pickup-7 value="3">
			<label for=pickup-7 class = ans1 data-word="development" data-level="B" data-pos="N" >development</label><br>
			<input type ="radio" name ="question1" id = pickup-8 value="4">
			<label for=pickup-8 class = ans1 data-word="government" data-level="B" data-pos="N" >government</label><br>
		</li>
		<li>
			<h4><span>He</span><span>'s</span><span data-word="set" data-level="A" data-pos="V">set</span><span>up</span><span>a</span><span data-word="way" data-level="A" data-pos="N">way</span><span>to</span><span data-word="let" data-level="A" data-pos="V">let</span><span>them</span><span data-word="choose" data-level="A" data-pos="V">choose</span><span>either</span><span data-word="extra" data-level="A" data-pos="ADJ">extra</span><span data-word="food" data-level="A" data-pos="N">food</span><span>or</span><span data-word="space" data-level="A" data-pos="N">space</span><span>and</span><span>_____</span><span>.</span></h4>
			<input type ="radio" name ="question2" id = pickup-9 value="1">
			<label for=pickup-9 class = ans2 data-word="country" data-level="A" data-pos="N" >country</label><br>
			<input type ="radio" name ="question2" id = pickup-10 value="2">
			<label for=pickup-10 class = ans2 data-word="company" data-level="A" data-pos="N" >company</label><br>
			<input type ="radio" name ="question2" id = pickup-11 value="3">
			<label for=pickup-11 class = ans2 data-word="program" data-level="A" data-pos="N" >program</label><br>
			<input type ="radio" name ="question2" id = pickup-12 value="4">
			<label for=pickup-12 class = ans2 data-word="problem" data-level="A" data-pos="N" >problem</label><br>
		</li>
		<li>
			<h4><span>The</span><span data-word="dock" data-level="C" data-pos="N">dock</span><span>_____</span><span data-word="tell" data-level="A" data-pos="V">tells</span><span>the</span><span data-word="lawyer" data-level="B" data-pos="N">lawyer</span><span>to</span><span data-word="drive" data-level="A" data-pos="V">drive</span><span>the</span><span data-word="grape" data-level="A" data-pos="N">grapes</span><span>away</span><span>because</span><span>he</span><span data-word="be" data-level="A" data-pos="V">is</span><span data-word="lose" data-level="A" data-pos="V">losing</span><span data-word="business" data-level="A" data-pos="N">business</span><span>.</span></h4>
			<input type ="radio" name ="question3" id = pickup-13 value="1">
			<label for=pickup-13 class = ans3 data-word="mood" data-level="B" data-pos="N" >mood</label><br>
			<input type ="radio" name ="question3" id = pickup-14 value="2">
			<label for=pickup-14 class = ans3 data-word="kiss" data-level="C" data-pos="N" >kiss</label><br>
			<input type ="radio" name ="question3" id = pickup-15 value="3">
			<label for=pickup-15 class = ans3 data-word="boss" data-level="A" data-pos="N" >boss</label><br>
			<input type ="radio" name ="question3" id = pickup-16 value="4">
			<label for=pickup-16 class = ans3 data-word="king" data-level="A" data-pos="N" >king</label><br>
		</li>
		<li>
			<h4><span>You</span><span data-word="mean" data-level="A" data-pos="V">mean</span><span>to</span><span data-word="tell" data-level="A" data-pos="V">tell</span><span>me</span><span>that</span><span>your</span><span data-word="job" data-level="A" data-pos="N">job</span><span data-word="amount" data-level="B" data-pos="N">amounts</span><span>to</span><span data-word="nothing" data-level="A" data-pos="N">nothing</span><span>_____</span><span>than</span><span data-word="lock" data-level="B" data-pos="V">locking</span><span data-word="people" data-level="A" data-pos="N">people</span><span>up</span><span>?</span></h4>
			<input type ="radio" name ="question4" id = pickup-17 value="1">
			<label for=pickup-17 class = ans4 data-word="more" data-level="A" data-pos="ADJ" >more</label><br>
			<input type ="radio" name ="question4" id = pickup-18 value="2">
			<label for=pickup-18 class = ans4 data-word="good" data-level="A" data-pos="ADJ" >good</label><br>
			<input type ="radio" name ="question4" id = pickup-19 value="3">
			<label for=pickup-19 class = ans4 data-word="many" data-level="A" data-pos="ADJ" >many</label><br>
			<input type ="radio" name ="question4" id = pickup-20 value="4">
			<label for=pickup-20 class = ans4>your</label><br>
		</li>
		<li>
			<h4><span>I</span><span data-word="seek" data-level="B" data-pos="V">sought</span><span>out</span><span>the</span><span data-word="information" data-level="A" data-pos="N">information</span><span>on</span><span>every</span><span>munitions</span><span data-word="factory" data-level="A" data-pos="N">factory</span><span>and</span><span data-word="storage" data-level="B" data-pos="N">storage</span><span>_____</span><span>and</span><span data-word="begin" data-level="A" data-pos="V">began</span><span>to</span><span data-word="dismantle" data-level="C" data-pos="V">dismantle</span><span>them</span><span>.</span></h4>
			<input type ="radio" name ="question5" id = pickup-21 value="1">
			<label for=pickup-21 class = ans5>center</label><br>
			<input type ="radio" name ="question5" id = pickup-22 value="2">
			<label for=pickup-22 class = ans5 data-word="matter" data-level="A" data-pos="N" >matter</label><br>
			<input type ="radio" name ="question5" id = pickup-23 value="3">
			<label for=pickup-23 class = ans5 data-word="player" data-level="A" data-pos="N" >player</label><br>
			<input type ="radio" name ="question5" id = pickup-24 value="4">
			<label for=pickup-24 class = ans5 data-word="worker" data-level="A" data-pos="N" >worker</label><br>
		</li>
	</ul>
	<button onclick="returnScore2()">Submit</button>
<button onclick="window.history.go(-1); return false;">Return</button>
<script>
var clozeAnswers = ["sign","money"],
clozeTot = clozeAnswers.length;
var clozeValList = [];
var answers = ["3","1","2","3","1","1"],
tot = answers.length;
    var valList = [];
function getCheckedValue( radioName ){
    var radios = document.getElementsByName( radioName ); // Get radio group by-name
    checkedValue = -1;
    for(var y=0; y<radios.length; y++){
      radios[y].disabled = true;
      if(radios[y].checked){
        checkedValue = radios[y].value; // return the checked value
       }
    }
    return checkedValue; // return the checked value
}
function getTypedValue( textName ){
    var text = document.getElementsByName( textName ); 
    for(var y=0; y<text.length; y++){
      enterText = text[y].value; 
    }
    return enterText; 
}
function Clear(){
  var radios;
    for (var i=0; i<tot; i++){
      radioName = "question"+i;  
       radios = document.getElementsByName(radioName); 
    for(var y=0; y<radios.length; y++){
      radios[y].disabled = false;
    }
   }
}
function getScore(){
  var score = 0;
  for (var i=0; i<tot; i++){
      Checkedval = getCheckedValue("question"+i);
    if(Checkedval===answers[i]){   
       score += 1; // increment only 
       valList[i] = Checkedval;
    }
    else{
        valList[i] = Checkedval;     
    }
  }
  return score;
}
function getClozeScore(){
  var score = 0;
  for (var i=0; i<clozeTot; i++){
      enterText = getTypedValue("cloze"+i);
    if(enterText === clozeAnswers[i]){   
       score += 1; // increment only 
       clozeValList[i] = 1;
    }
    else{
        clozeValList[i] = 0;     
    }
  }
  return score;
}
function returnScore2(){
  score = getClozeScore();
   // document.getElementById("demo").innerHTML = score;
  // alert("Your score is "+ score +"/"+ tot);
    var i;
    for (i = 0; i < clozeTot; i++) {
         var nam = document.getElementById('clozeA'+i)
         // var nam = document.querySelectorAll("clozeA"+i);
        if(clozeValList[i] == 1){
        nam.style.backgroundColor= "#0C0";
        nam.style.color= "white";
        }
      else{
         var blockName = document.getElementById('clozeAns'+i)
        blockName.style.display = "block";
        blockName.style.fontWeight = "bold";
        nam.style.backgroundColor= "red";
        nam.style.color= "white";
      }      
    }
        var colr = document.getElementsByClassName("tab-content");
      colr[0].style.opacity =  1;
      // document.getElementById("demo").innerHTML = score;
      score1 = returnScore();
     alert("Your score is "+ (score + score1) +"/"+ (tot+clozeTot));
     // document.getElementById("demo").innerHTML = score;
}
function returnScore(){
  score1 = getScore();
  // alert("Your score is "+ score +"/"+ tot);
    var i;
    for (i = 0; i < tot; i++) {
          var y = document.querySelectorAll(".ans"+i);
         //document.getElementById("demo").innerHTML = valList[0];
         //document.getElementById("testing").innerHTML = answers[0];
        if(valList[i] !== answers[i] && valList[i]!=-1){
           y[valList[i]-1].style.backgroundColor = "red"; 
           y[answers[i]-1].style.backgroundColor = "#0C0";
           y[answers[i]-1].style.color = "white"; 
        }
      else{
          y[answers[i]-1].style.backgroundColor = "#0C0";         
      }      
    } 
  return score1
}
    </script>
