<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Word Learning</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
		<!-- Header -->
			<header id="header">
				<div class="inner">
					<h1 class="logo"><strong>Word Learning</strong></h1>
				</div>
			</header>
        
        <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Get Word List/Quiz from (almost) any English news web pages.</h1>
					</header>
                    <form action="/handle_data" method="post">
                        <footer>
                            <div>
                                <select name="user_level" class="button alt">
                                    <option value="A">LEVEL A</option>
                                    <option value="B">LEVEL B</option>
                                    <option value="C">LEVEL C</option>
                                </select>
                                <input type="text" id="url" name="url" placeholder="Copy &amp; paste a URL of a web article">
                            </div>
                            <ul class="actions">
                                <li>
                                    <div>
                                        <input value="Submit" class="button alt" type="submit">
                                    </div>
                                </li>
                            </ul>
                        </footer>
                    </form>
				</div>
			</section>

    </body>
</html>